header{
    width: 100%;
    background-color: #fff;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: sticky;
    top: 0;
    z-index: 4;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand-name{
    color:blueviolet;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.brand-name h3{
    margin: 0;
}

.search-icon{
    color: blueviolet;
}

.links{
    display: flex;
    gap: 50px;
    cursor: pointer;
    font-size: 25px;
}

.link-btn{
    font-size: large;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 12px 25px;
}

.link-btn:hover{
    background: #e4e6eb;
    border-radius: 10px;
}


.avatar{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.avatar-container{
    position: relative;
}

.avatar-badge{
    background-color: #e4e6eb;
}

.avatar-icon{
    height: 15px;
    width: 15px;
    color: black;
    display: flex;
    align-items: center;
}

.avatar-btn{
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: #1c1e21;
    padding: 8px 5px;
    color: #fff;
    right:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media only screen and (max-width:400px) {
    .links{
        display:none;
    }

    .brand-name{
        justify-content: center;
    }
    .search-icon{
        display: none;
    }
    .avatar-btn{
        display: none;
    }
}

@media only screen and (min-width:401px) and (max-width:767px){
    .links{
        display:none;
    }
    .avatar-btn{
        display: none;
    }
} 