section h4{
    margin: 0;
}

.story-container{
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    z-index: unset;
}

.story-container::-webkit-scrollbar{
    display: none;
}

.story-card{
    padding: 0;
}

.story-card img{
    height: 200px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin: 2px;
    transition: 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 0;
}

@media only screen and (max-width:600px){
    .story-card img{
        height: 150px;
        width: 100px;
    }
}